In [1]:
import pandas as pd
from datetime import datetime

In [10]:
df = pd.read_csv('time_stamps.csv')

In [11]:
df.drop(df.columns[0], axis = 1, inplace = True)

In [12]:
df

                        Start                         End
0  2020-11-19 18:40:45.611647  2020-11-19 18:40:53.866552
1  2020-11-19 18:40:56.311514  2020-11-19 18:41:05.913239
2  2020-11-19 18:41:08.025064  2020-11-19 18:41:11.818257
3  2020-11-19 18:41:11.847465  2020-11-19 18:41:11.879219
4  2020-11-19 18:41:13.097133  2020-11-19 18:41:13.129209
5  2020-11-19 18:41:14.760388  2020-11-19 18:41:14.792071
6  2020-11-19 18:41:14.871394  2020-11-19 18:41:14.904685
7  2020-11-19 18:41:14.935836  2020-11-19 18:41:23.401816
8  2020-11-19 18:41:25.415961  2020-11-19 18:41:26.920046
9  2020-11-19 18:41:28.055942  2020-11-19 18:41:30.903978

In [14]:
end = [datetime.strptime(str, '%Y-%m-%d %H:%M:%S.%f') for str in df['End']]
start = [datetime.strptime(str, '%Y-%m-%d %H:%M:%S.%f') for str in df['Start']]

In [15]:
df['Start_obj'] = start
df['End_obj'] = end

In [13]:
from bokeh.plotting import figure, output_file, show

In [16]:
from bokeh.plotting import figure, output_file, show
from bokeh.models import HoverTool, ColumnDataSource
output_file('plotting.html')

cds = ColumnDataSource(df)

p = figure(x_axis_type = 'datetime', plot_width = 1200, plot_height=600, tools = '')
p.quad(top=1,bottom=0, left='Start_obj',
       right='End_obj', color="#B3DE69", source = cds)
p.ygrid.grid_line_color = None
p.yaxis.minor_tick_line_color = None

hover = HoverTool(tooltips = [("Start", "@Start"), ("End", "@End")])
p.add_tools(hover)
# p.sizing_mode = 'scale_width'

show(p)